<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--加载db的配置文件-->
    <context:property-placeholder location="classpath:db.properties" system-properties-mode="NEVER"/>
    <!--DataSource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!--基本配置-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--配置初始化大小 最大  最小-->
        <property name="initialSize" value="${jdbc.init}"/>
        <property name="minIdle" value="${jdbc.minIdle}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <!--配置获取连接等待超时时间 ms-->
        <property name="maxWait" value="60000"/>
        <!--配置多久检测一次  来关闭空闲的连接 ms-->
        <property name="timeBetweenConnectErrorMillis" value="60000"/>
        <!--配置一个连接池中最小生存的时间-->
        <property name="minEvictableIdleTimeMillis" value="300000"/>
    </bean>
    <!--SqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource" />
        <!--注入daoMapper.xml文件 如果映射文件和dao接口 同包且同名 则此配置可不配-->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
    </bean>
    <!--Dao MapperScannerConfigure-->
    <!--用来扫描dao层-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--dao接口所在的包 如果有多个包 可以用，或者;隔开
            <property name="basePackage" value="com.flying.dao,com.b.dao"/>
        -->
        <property name="basePackage" value="com.flying.dao"/>
        <!--如果工厂中只有一个sqlsessionFactory的bean  则不用配下面的-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>
